html {
  height: 100%;
}
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0;
  color: #536370;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: solid black 1px;
  z-index: 1;
  background-color: #FFFFFF;
  opacity: .62;
}

nav ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

nav li{
  display:inline;
  padding:0;
  margin:0;
  text-transform: uppercase;
}

nav img.small-logo {
  width: 45px;
  float: left;
}
.center {
  text-align: center;
}
h3.center {
  text-transform: uppercase;
}
.page {
  display: table;
  min-height: 100%;
  width: 100%;
}

.page .content {
  display: table-cell;
  padding: 40px 0;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .page .content {
    padding: 20px;
  }
}

.background-img {
  position: relative;
}

.background-img.bg-img-one {
  background-image: url(../img/heroimage.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background-img.bg-img-one h1 {
  font-size: 78px;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .background-img.bg-img-one h1 {
    font-size: 48px;
  }
}

.background-img.bg-img-one .centered-text {
}

.background-img.bg-img-one .page-down-logo {
  position: relative;
}

.background-img.bg-img-one .page-down-logo:before {
  content: "V";
  font-size: 40px;
  position: absolute;
  top: -5%;
  left: 30%;
  color: white;
}

.keywords {
  text-align: center;
  margin-bottom: 80px;
}

.keywords li {
  display:inline;
  padding:0;
  margin:0;
  text-transform: uppercase;
  font-size: 24px;
}

.centered-text {
  max-width: 537px;
  text-align: center;
  margin: auto;
}

.centered-text p {
  text-align: center;
}

.logo-and-text-panel {
  text-align: center;
}

.logo-and-text-panel .large-logo {
  padding-top: 20px;
  width: 104px;
  margin-bottom: 80px;
}

.logo-and-text-panel p {
}

.background-img.bg-img-two {
  background-image: url(../img/scrollimage.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background-img.bg-img-two h3 {
  text-transform: uppercase;
  color: white;
}

.background-img.bg-img-two p {
  color: white;
}

.background-img.bg-img-three {
  background-image: url(../img/scrollimage3.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  top: 0;
  /*transform: translateZ(-100px);*/
}

.background-img.bg-img-three h3 {
  text-transform: uppercase;
  color: white;
  /*transform: translateZ(5);*/
}

.background-img.bg-img-three p {
  color: white;
  /*transform: translateZ(5);*/
}

.text-with-img-grid {
  background-color: white;
}

.text-with-img-grid p {
  padding-top: 20px;
  max-width: 600px;
  text-align: center;
  margin: auto;
}

.text-with-img-grid img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.more-tag {
  height: 200px;
  border: solid black 1px;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
}

.word-in-div {
  position: absolute;
  top: 40%;
  left: 40%;
}

.about-neil {
  background-color: white;
  position: relative;
}

.about-neil h3 {
  text-align: center;
  text-transform: uppercase;
}

.about-neil p {
}

.neil {
  max-width: 100%;
}

.background-img.bg-img-four {
  background-image: url(../img/contactus.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  top: 0;
  position: relative;
}

.background-img.bg-img-four .contact-form {
  background-color: white;
  display: table;
  height: 100%;
  position: absolute;
  left: 60%;
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
}

@media screen and (max-width: 768px) {
  .background-img.bg-img-four .contact-form {
    background-color: white;
    display: table;
    height: 100%;
    position: static;
    left: auto;
    padding-left: 20px;
    padding-right: 20px;
    top: auto;
    margin: auto;
  }

}

textarea {
  resize: none;
}

